/* GLOBAL RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1325px;
}
html {
  overflow: hidden;
}
body {
  line-height: 1;
  font-weight: 400;
  height: 100vh;
  background-color: #000;
  scrollbar-width: thin;
  scrollbar-color: #3e4144 #16181c;
  color: #e7e9ea;
}

/******************
 HEADER SECTION(SIDEBAR)
*****************/
.header {
  overflow-y: scroll;
  height: 100vh;
}

.main-nav {
  margin-bottom: 4px;
}

.logo-link:hover,
.menu-link:hover {
  background-color: rgba(231, 233, 234, 0.15);
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.menu .active {
  font-weight: 700;
  border: none;
}
.menu-link,
.post-link {
  color: #e7e9ea;
  font-size: 20px;
  line-height: 1.2;
  padding: 12px;
  border-radius: 999px;
}

.menu-label {
  margin: 0 16px 0 20px;
}

.post-box {
  margin: 8px 0 4px 0;
}
.post-link {
  background-color: #eff3f4;
  color: #0f1419;
  font-size: 17px;
  font-weight: 700;
  height: 50px;
  width: 90%;
}

.post-link:hover {
  background-color: #e1e1e1;
  color: #0f1419;
}

/******************
 MAIN SECTION
*****************/
.main {
  overflow-y: scroll;
  height: 100vh;
}
